<% user = sent.user %>
<li>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user) %>
  <% n = Notification.where(user: user, notifiable: current_user).first %>
  <% if n %>
    <%= link_to "\u{1F464} Cancel Friend Request", notification_path(n), :method => :delete %>
  <% end %>
</li>
