<div class="new-post post">
  <p>Create Post</p>

  <%= form_for(@post) do |f| %>
    <%= link_to gravatar_for(current_user, size: 40), user_path(current_user), class: "post_gravatar" %>
    <%= f.text_area :text, placeholder: "What's on your mind, #{current_user.first_name}?" %>
    <div class="submit">
      <%= f.submit "Share" %>
    </div>
  <% end %>
</div>
