// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post {
  background-color: #fff;
  width: 500px;
  border: .5px solid #d8dfea;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#post_header {
  padding-bottom: 8px;
}

.post_gravatar {
  img {
    float: left;
    border-radius: 20px;
    margin-right: 5px;
  }
}

#delete_link, #comments_link {
  float: right;
}

#post_body {
  font-size: 20px;
}

#post_options {
  padding: 5px 0;
  border-top: 1px solid #d8dfea;
  border-bottom: 1px solid #d8dfea;
  a {
    padding: 0 80px;
  }
}
